{% extends "base.html"%}
{%block content%}
<br>
 <h1>List Customer</h1>

<table border="3" class="table">
    <thead>
        <th scope="col">S No.</th>
        <th scope="col">Created At</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col">Zipcode</th>
        <th scope="col">More Actions</th>
    </thead>
    {%for customer in form%}
      <tr>
        <td>{{customer.id}}</td>
        <td>{{customer.created_at}}</td>
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.age}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.zipcode}}</td>
        <td><a href="{% url 'detail' customer.id%}">More</a></td>
      </tr>
      {%endfor%}
  </table>
  <br>
<a  href="{% url 'create'%}" class="btn btn-secondary btn-sm" >Add Customer</a>
{%endblock%}